body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #EBFAF5 !important;
}

.container{
  width: 100% !important;
}

.search_field{
    width: 100% !important;
    height: 32px !important;
    border: 1px solid #ccc !important;
    border-radius: 1.25rem !important;
    padding-left: 10px !important;
}

.search_icon{
    position: absolute;
    right: 130px;
    top: 30px;
}

.index_add_new{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.filter{
  bottom: 19px;
  float: right;
  margin-right: .7rem;
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  border: 2px solid #E1E4E4;
}

.details_label{
  font-size: 1rem;
}

.details_data{
  font-size: 1rem;
}

.signIn_card{
  border-radius: 1.25rem;
  margin-top: 35%;
  margin-right: 17%
}

.modal { width: 75% !important ; max-height: 100% !important;} 